<%-  include('../header.ejs') %>
<body>
    <h1>this is a list of my starwars ship</h1>
    <% for (let i = 0; i < starWarsShips.length; i++) { %>
        <h2>Name: <%= starWarsShips[i].name %></h2>
    <% } %>
    
</html>