<%-  include('../header.ejs') %>

<h1>Form</h1>
<label for="name">Name:</label>
<input type="text" names="name" id="name">
<br>
<label for="name">Color:</label>
<input type="text" names="name" id="name">
<br>
<label for="name">Readty to eat?:</label>
<input type="text" names="name" id="name">
<br>
<label for="name">Img URL:</label>
<input type="text" names="name" id="name">
<br>


</body>
</html>